on boot

    # Set permission for IIM node
    symlink /dev/mxc_iim /dev/mxc_mem

    # 3D acceleration property
    setprop debug.sf.showfps    0
    setprop debug.sf.enable_hgl 1
    setprop debug.egl.hw        0

    # fsl omx graphic manager media framework property
    setprop media.omxgm.enable-player 1
    setprop media.omxgm.enable-scan 1

    #Define the config for dual camera
    setprop back_camera_name ov
    setprop back_camera_orient 0

    # Set OpenGLES version 
    setprop ro.opengles.version 131072

    # Disable UI output for second display during video playback
    setprop ro.secfb.disable-overlay  0

on fs
# mount ext4 partitions
    mount ext4 /dev/block/mmcblk0p2 /system
    mount ext4 /dev/block/mmcblk0p2 /system ro remount
    mount ext4 /dev/block/mmcblk0p5 /data nosuid nodev
    mount ext4 /dev/block/mmcblk0p6 /cache nosuid nodev
